/* Tooltip */

.option-tooltip {
	opacity: 1.0 !important;
}
.option-tooltip .tooltip-inner {
	background: #FFF !important;
	color: #333 !important;
	border: 1px solid rgba(0,0,0,.175) !important;
	box-shadow: 0 6px 12px rgba(0,0,0,.175) !important;
	max-width: 100% !important;
}
.option-tooltip img {
	margin-top: 5px !important;
}
.options-category  .select-quantity {
	margin-bottom: 10px;
}
.select-quantity button {
	display: block;
	padding-top: 0px;
	padding-bottom: 1px;
	height: 17px !important;
}
.select-quantity i {
	font-size: 9px;
}
.select-quantity .input-group-btn .btn {
	margin:0 -1px 0 0;
	line-height: 14px;
	border-right: none;
	border-color: #ccc;
}
.select-quantity .input-group-btn .btn:first-child {
	border-radius: 4px 0 0 0;
}
.select-quantity .input-group-btn .btn:last-child {
	border-radius: 0 0 0 4px;
}

/* Theme Button */

.theme-button {
	margin-left: 0px !important;
	padding-left: 0px !important;
	display: inline-block !important;
}
/*.theme-button label {
	cursor: pointer !important;
}*/
.theme-button input {
	display:none;
}
.theme-button input + span {
	padding: 3px 12px;
    color: #000;
    background-color: rgb(231 231 231 / 0%);
    background-image: none;
    background-repeat: repeat-x;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    display: inline-block;
    min-width: 88px;
    text-align: center;
    border-radius: 50px;
}
.theme-button input:checked + span {
	color: #fff;
    background-color: #0096c7;
    background-image: none;
    background-repeat: repeat-x;
    border: 1px solid #0096c7;
    box-shadow: 0 0 17px 0px rgb(34 154 200 / 40%);
}
.theme-button input[disabled] + span {
	cursor: default;
    background-color: rgba(0, 0, 0, 0);
	background-image: none;
	border: 1px solid #ddd;
}
.theme-button input + img {
	padding: 4px;
    border: 1px solid #d4d4d4;
    border-radius: 50px;
    display: inline-block;
    max-width: 47px;
    width: 47px;
    height: 47px;
}
.theme-button input:checked + img {
    border: 1px solid #229ac8;
    box-shadow: 0 0 17px 0px rgb(34 154 200 / 40%);
}
.theme-button input[disabled] + img {
	cursor: default;
	border: 1px solid #ddd;
}

/* No Theme */

.no-theme img:hover + div {
	display: block;
}
.no-theme div {
	padding: 2px;
	cursor: pointer;
	border: 1px solid #ccc;
    border-radius: 2px;
	display: none;
	background: #FFF;
	position: absolute;
	z-index: 3;
}

/* Price */

.option-old-price {
	text-decoration: line-through;
}
.option-new-price {
	font-weight: bold;
}