.image {
	position: relative;
}
.rb-tl {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 99999;
}
.rb-tr {
	position: absolute;
	top: 6px;
	right: 5px;
	z-index: 10;
	width: 84px;
}
.rb-bl {
	position: absolute;
	bottom: 0px;
	left: 0px;
	z-index: 99999;
}
.rb-br {
	position: absolute;
	bottom: 0px;
	right: 0px;
	z-index: 99999;
}
